<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!--<jsp-config>-->
		<!--<jsp-property-group>-->
			<!--<url-pattern>*.jsp</url-pattern>-->
			<!--Disables all scripting elements in all jsp pages-->
			<!--<scripting-invalid>true</scripting-invalid>-->
			<!--Disables all el-directives for all jsp pages-->
			<!--<el-ignored>true</el-ignored>-->
		<!--</jsp-property-group>-->
	<!--</jsp-config>-->

	<servlet>
		<servlet-name>Process Form</servlet-name>
		<servlet-class>com.example.web.FormProcessingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Process Form</servlet-name>
		<url-pattern>/process</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>My Test Init</servlet-name>
		<jsp-file>/testInit.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>admin@mail.ru</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>My Test Init</servlet-name>
		<url-pattern>/test-jsp</url-pattern>
	</servlet-mapping>

</web-app>