<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<context-param>
		<param-name>adminMail</param-name>
		<param-value>admin@admin.com</param-value>
	</context-param>
	<context-param>
		<param-name>managerMail</param-name>
		<param-value>manager@manager.com</param-value>
	</context-param>
	<context-param>
		<param-name>dogBreed</param-name>
		<param-value>Great Dane</param-value>
	</context-param>

	<listener>
		<listener-class>com.example.listeners.MyServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Servlet Params</servlet-name>
		<servlet-class>com.example.web.ServletParams</servlet-class>

		<init-param>
			<param-name>userMail</param-name>
			<param-value>user@mail.ru</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Servlet Params</servlet-name>
		<url-pattern>/get-params</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jsp params</servlet-name>
		<servlet-class>com.example.web.InitParamsThroughServlet</servlet-class>
		<init-param>
			<param-name>otherMail</param-name>
			<param-value>otherMail@mail.ru</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jsp params</servlet-name>
		<url-pattern>/show-params</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContextListenerTest</servlet-name>
		<servlet-class>com.example.web.ServletContextListenerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextListenerTest</servlet-name>
		<url-pattern>/test-context-listener</url-pattern>
	</servlet-mapping>
</web-app>