<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<context-param>
		<param-name>mainEmail</param-name>
		<param-value>dm@ch.com</param-value>
	</context-param>

	<servlet>
		<servlet-name>Nested Classes</servlet-name>
		<servlet-class>com.example.web.NestedClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nested Classes</servlet-name>
		<url-pattern>/testNested</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Operators</servlet-name>
		<servlet-class>com.example.web.OperatorsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Operators</servlet-name>
		<url-pattern>/operatorsTest</url-pattern>
	</servlet-mapping>

</web-app>